/Gemfile.lock
Gemfile.lock

contacts/letters/a/*.xml
contacts/letters/b/*.xml
contacts/letters/c/*.xml
contacts/letters/d/*.xml
contacts/letters/e/*.xml
contacts/letters/f/*.xml
contacts/letters/g/*.xml
contacts/letters/h/*.xml
contacts/letters/i/*.xml
contacts/letters/j/*.xml
contacts/letters/k/*.xml
contacts/letters/l/*.xml
contacts/letters/m/*.xml
contacts/letters/n/*.xml
contacts/letters/o/*.xml
contacts/letters/p/*.xml
contacts/letters/q/*.xml
contacts/letters/r/*.xml
contacts/letters/s/*.xml
contacts/letters/t/*.xml
contacts/letters/u/*.xml
contacts/letters/v/*.xml
contacts/letters/w/*.xml
contacts/letters/x/*.xml
contacts/letters/y/*.xml
contacts/letters/z/*.xml
