<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Simple Phonebook application.">
    <meta name="author" content="Edivaldo Reis">

    <title>The Easy Phonebook</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/modern-business.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">The Easy Phonebook</a>
            </div>
        </div>
    </nav>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/letter/a" class="list-group-item">Contacts with the letter A</a>
                    <a href="/letter/b" class="list-group-item">Contacts with the letter B</a>
                    <a href="/letter/c" class="list-group-item">Contacts with the letter C</a>
                    <a href="/letter/d" class="list-group-item">Contacts with the letter D</a>
                    <a href="/letter/e" class="list-group-item">Contacts with the letter E</a>
                    <a href="/letter/f" class="list-group-item">Contacts with the letter F</a>
                    <a href="/letter/g" class="list-group-item">Contacts with the letter G</a>
                    <a href="/letter/h" class="list-group-item">Contacts with the letter H</a>
                    <a href="/letter/i" class="list-group-item">Contacts with the letter I</a>
                    <a href="/letter/k" class="list-group-item">Contacts with the letter K</a>
                    <a href="/letter/l" class="list-group-item">Contacts with the letter L</a>
                    <a href="/letter/m" class="list-group-item">Contacts with the letter M</a>
                    <a href="/letter/n" class="list-group-item">Contacts with the letter N</a>
                    <a href="/letter/o" class="list-group-item">Contacts with the letter O</a>
                    <a href="/letter/p" class="list-group-item">Contacts with the letter P</a>
                    <a href="/letter/q" class="list-group-item">Contacts with the letter Q</a>
                    <a href="/letter/r" class="list-group-item">Contacts with the letter R</a>
                    <a href="/letter/s" class="list-group-item">Contacts with the letter S</a>
                    <a href="/letter/t" class="list-group-item">Contacts with the letter T</a>
                    <a href="/letter/u" class="list-group-item">Contacts with the letter U</a>
                    <a href="/letter/v" class="list-group-item">Contacts with the letter V</a>
                    <a href="/letter/w" class="list-group-item">Contacts with the letter W</a>
                    <a href="/letter/x" class="list-group-item">Contacts with the letter X</a>
                    <a href="/letter/y" class="list-group-item">Contacts with the letter Y</a>
                    <a href="/letter/z" class="list-group-item">Contacts with the letter Z</a>
                </div>
            </div>

            <div class="col-md-9">
                <% if flash[:notice] %>
                    <div class="alert alert-info alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <%= flash[:notice] %>
                    </div>
                <% end %>
                <%= yield %>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>The Easy Phonebook <%=Time.now.year%></p>
                </div>
            </div>
        </footer>

    </div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
    $(function(){
        $('.list-group a').filter(function(){return this.href==location.href}).addClass('active').siblings().removeClass('active')
        $('.list-group a').click(function(){
            $(this).addClass('active').siblings().removeClass('active')
        })
    });
    </script>
</body>
</html>
