<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>The Easy Phonebook</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Font Awesome 4 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="/"><i class="fa fa-phone-square" aria-hidden="true"></i> Easy Phonebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                A to H
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="/letter/a" class="dropdown-item">Contacts with the letter A</a>
                <a href="/letter/b" class="dropdown-item">Contacts with the letter B</a>
                <a href="/letter/c" class="dropdown-item">Contacts with the letter C</a>
                <a href="/letter/d" class="dropdown-item">Contacts with the letter D</a>
                <a href="/letter/e" class="dropdown-item">Contacts with the letter E</a>
                <a href="/letter/f" class="dropdown-item">Contacts with the letter F</a>
                <a href="/letter/g" class="dropdown-item">Contacts with the letter G</a>
                <a href="/letter/h" class="dropdown-item">Contacts with the letter H</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                I to Q
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="/letter/i" class="dropdown-item">Contacts with the letter I</a>
                <a href="/letter/k" class="dropdown-item">Contacts with the letter K</a>
                <a href="/letter/l" class="dropdown-item">Contacts with the letter L</a>
                <a href="/letter/m" class="dropdown-item">Contacts with the letter M</a>
                <a href="/letter/n" class="dropdown-item">Contacts with the letter N</a>
                <a href="/letter/o" class="dropdown-item">Contacts with the letter O</a>
                <a href="/letter/p" class="dropdown-item">Contacts with the letter P</a>
                <a href="/letter/q" class="dropdown-item">Contacts with the letter Q</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                R to Z
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="/letter/r" class="dropdown-item">Contacts with the letter R</a>
                <a href="/letter/s" class="dropdown-item">Contacts with the letter S</a>
                <a href="/letter/t" class="dropdown-item">Contacts with the letter T</a>
                <a href="/letter/u" class="dropdown-item">Contacts with the letter U</a>
                <a href="/letter/v" class="dropdown-item">Contacts with the letter V</a>
                <a href="/letter/w" class="dropdown-item">Contacts with the letter W</a>
                <a href="/letter/x" class="dropdown-item">Contacts with the letter X</a>
                <a href="/letter/y" class="dropdown-item">Contacts with the letter Y</a>
                <a href="/letter/z" class="dropdown-item">Contacts with the letter Z</a>
              </div>
            </li>

            <li class="nav-item">
              <a href="/contact/new" class="btn btn-warning"><i class="fa fa-plus-circle"></i> Create new contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"><p>The Easy Phonebook <%=Time.now.year%></p></span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
